## .NET
bin/
obj/
*.user
*.suo
.vs/
.idea/
*.DotSettings.user

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/

## OS
.DS_Store
Thumbs.db
